// IMAGE
.headline-image,
.article-cover {
    // ratio 3 : 2
    width: 100%;
    height: 100%;
    max-height: 487px !important;
    overflow: hidden;
}

.article-cover {
    margin-bottom: 50px;
    img {
        height: 100%;
        max-height: 487px !important;
    }
}

// LIST
// ol li, ul li
.main-news-list ol {
    padding-left: 20px;
}

.main-news-list ol li {
    margin-left: 10px;
    padding-left: 10px;
}

.main-news-list ol li ol,
.main-news-list ol li p {
    margin: 5px 0 10px;
}

.main-news-list ol li ol li {
    padding-left: 5px;
}

.main-news-list ol li ol li,
.main-news-list ol li ol li p {
    margin: 5px 0 10px;
}

.parent-title-list {
    margin-top: 25px;
}

.thumbnail { height: 320px; margin-bottom: 0px; border-radius: 0  }