	body {
	    color: $color-dark;
	    position: relative;
	}

	a {
	    &:hover,
	    &:focus {
	        text-decoration: none !important;
	        background-color: transparent;
	    }
	}

	a.link-wrapper {
	    .media-heading,
	    p {
	        color: $color-dark;
	    }
	    &:hover {
	        .media-heading {
	            color: $color-primary;
	        }
	    }
	}

	img {
	    width: 100%;
	}

	.text-small {
	    font-size: 14px
	}

	.color-primary {
	    color: $color-primary;
	}

	.color-success {
	    color: $color-success;
	}

	.color-info {
	    color: $color-info;
	}

	.color-warning {
	    color: $color-warning;
	}

	.color-danger {
	    color: $color-danger;
	}

	.color-light {
	    color: $color-light;
	}

	.color-grey {
	    color: $color-grey;
	}

	.color-dark-grey {
	    color: $color-dark-grey;
	}

	.color-dark {
	    color: $color-dark;
	}

	.color-pgrey {
	    color: $color-pgrey;
	}

	.color-social-grey {
	    color: $color-social-grey;
	}

	.color-light-grey {
	    color: $color-light-grey;
	}